<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наш магазин</title>
</head>
<body>
    <h2>Добро пожаловать в мир сантехники</h2>
    <u1>
        <li><h2>{{ mix }}</h2></li>
        <button>К выбору</button>
        <li><h2>{{ fai }}</h2></li>
        <button>К выбору</button>
        <li><h2>{{ whir }}</h2></li>
        <button>К выбору</button>
        <li><h2>{{ htr }}</h2></li>
        <button>К выбору</button>
    </u1>
    <br>
    <br>
    <a href="/"><button><h2>На главную</h2></button></a>

</body>
</html>